@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:700,300);
/* ==========================================================================
   Gobal Styles
   ========================================================================== */
/* ==========================================================================
   Google Font Loader
   ========================================================================== */
/* ==========================================================================
   Common Styles
   ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
    /* fixing the overflow duting animation */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 3em;
}
h3 {
    font-size: 1.6em;
    line-height: 1.4em;
}
p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
}
a {
    color: #444;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
a:hover,
a:focus {
    color: #3498db;
}
img {
    max-width: 100%;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
    margin: 0;
}
ol {
    list-style: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.center {
    text-align: center;
}
.btn i {
    margin-right: 5px;
}
::selection {
    background: #3498db;
    color: #fff;
}
::-moz-selection {
    background: #3498db;
    color: #fff;
}
.block-title {
    margin: 0px 0px 20px;
}
h3.block-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
}
/*====================================================
		bootstrap default style overriding
	====================================================*/
.btn {
    padding: 16px 22px;
    color: #fff;
    border-radius: 4px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: none;
    text-transform: uppercase;
}
.btn:focus,
.btn:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-common {
    background: #3498db;
}
.btn-common:hover {
    background: #48acef;
}
.btn-danger:hover {
    background: #ed6763;
}
.btn-border {
    background: #4285F4;
    padding: 16px 36px!important;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.btn-border:hover {
    opacity: 0.8;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-search {
    padding: 11px;
}
.btn-sm {
    font-size: 13px;
    padding: 4px 8px;
    line-height: 1.5;
    margin-bottom: 5px;
    border: none;
}
.btn-xs {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-rm {
    padding: 10px 21px;
    margin-top: 30px;
    text-transform: capitalize;
}
.btn-post {
    padding: 10px 16px;
}
.wrapper {
    padding: 60px 0;
}
.section {
    padding: 60px 0;
}
.section-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    padding: 20px 0px 0px 0px;
    text-transform: uppercase;
    font-weight: 400;
}
.title-2 {
    border-bottom: 1px solid #E6E6E6;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
}
#content {
    padding: 80px 0;
}
.main-container {
    padding: 80px 0;
}
.page-header {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #eee;
}
.page-header .page-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.breadcrumb-wrapper {
    text-align: center;
}
.breadcrumb {
    font-size: 14px;
    color: #3498db;
    border-radius: 0px;
    background: #f7f7f7;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    margin-top: 64px;
}
.breadcrumb a {
    color: #444;
}
.breadcrumb a:hover {
    color: #3498db;
}
.no-padding {
    padding: 0px !important;
}
select.form-control {
    border: 0;
    outline: 1px solid #ddd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 0;
}
select.form-control:focus {
    border: 0;
    outline: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}
#loader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}
.sk-folding-cube {
    margin: 0px auto;
    top: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
/* ==========================================================================
   Navigation Menu Styles
   ========================================================================== */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 0 0 0 15px;
    width: 120px;

}

.tbtn {
    color: #FFF !important;
    font-size: 30px;
    height: 42px;
    width: 105px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    background: #E74C3C;
    z-index: 999;
    top: 124px;
    left: 0px;
}
.tbtn p {
    font-size: 12px;
}
.tbtn p i {
    margin-right: 4px;
    font-size: 12px;
    border-color: red;
    border-style: solid;
}
.title-menu {
    font-size: 15px;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}
.navmenu,
.navbar-offcanvas {
    width: 180px;
    z-index: 99999;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
    background-color: #fff;
    border-left: 1px solid #eee;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #3498db;
    background-color: transparent;
}
.nav > li {
    position: relative;
    display: block;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #444;
    padding: 0px 15px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}
nav#menu span.fa.fa-bars:hover {
    color: #3498db;
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: #3498db;
}
.close {
    background: transparent;
    padding: 8px 12px;
    opacity: 1;
}
.close i {
    background: #E74C3C;
    color: #fff;
    padding: 6px;
    font-size: 16px;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
/* ==========================================================================
   Preset Loader
   ========================================================================== */
/* ==========================================================================
   Header Style
   ========================================================================== */
.navbar-default {
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
.navbar-header {
    position: relative;
    padding: 15px 0;
    margin: 0 !important;
    margin-bottom: 7px !important;
}
.main-navigation .navbar-nav {
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.main-navigation .navbar-nav > li a {
    color: #444;
    line-height: normal;
    border-radius: 4px;
    padding: 12px 15px;
    font-size: 13px;
    outline: 0;
    letter-spacing: 0.3px;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}
.main-navigation .navbar-nav > li a:hover,
.main-navigation .navbar-nav > li a.active,
.main-navigation .navbar-nav > li a:focus {
    color: #3498db;
}
.main-navigation .navbar-nav > li a i {
    margin-right: 3px;
}
.main-navigation .navbar-nav > li.postadd {
    padding-left: 25px;
    margin-left: 5px;
    border-left: 1px solid #ddd;
}
.main-navigation .navbar-nav > li.postadd a {
    box-sizing: border-box;
    color: #FFF;
    font-size: 12px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
    width: 140px;
    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.main-navigation .navbar-nav > li.postadd a:hover {
    color: #fff;
    background: #FF625D;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background: transparent;
    color: #3498db;
}
.navbar-default li > ul.user-menu {
    padding: 0;
    min-width: 170px;
    border-radius: 0;
}
.navbar-default li > ul.user-menu li a {
    font-size: 11px;
    display: block;
    border-bottom: 1px solid #eee;
    font-weight: 400;
    padding: 6px 10px;
}
.navbar-default li > ul.user-menu li a i {
    margin-right: 8px;
}
.li .dropdown-menu.user-menu > .active > a,
.dropdown-menu.user-menu > .active > a:focus {
    background: #ddd;
    color: #444;
    font-weight: 700;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #eee;
}
.navbar-default .navbar-toggle {
    border-color: #eee;
    border-radius: 0;
}
/*====================================================
      intro section style
    ====================================================*/
.section-intro {
    background: url("../../img/bg/bg-intro.png") center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.section-intro .overlay {
    background: rgba(0, 0, 0, 0.5) repeat;
    width: 100%;
    height: 100%;
}
.section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase;
}
.section-intro .main-text .intro-title {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
    line-height: 58px;
}
.section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
#search-row-wrapper {
    background: url("../../img/bg/counter-bg.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
#search-row-wrapper .overlay {
    background: rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100%;
}
#search-row-wrapper .search-inner {
    padding: 40px 0;
}
/* ==========================================================================
   Advanced search
   ========================================================================== */
.search-bar {
    background: rgba(151, 151, 151, 0.33);
    padding: 20px;
}
.search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0px;
    background-color: transparent;
    color: #444;
    right: 15px;
    padding: 15px;
}
.search-bar .form-group {
    margin: 0 0 0 12px;
}
.search-bar .btn-group,
.search-bar .btn-group-vertical {
    margin: 0;
}
.search-bar .btn-select {
    padding: 12px;
    border-radius: 0;
    color: #555;
    background: #fff;
    text-transform: none;
}
.search-bar .dropdown-menu li a:hover,
.search-bar .dropdown-menu li a:focus,
.search-bar .dropdown-menu li a:active {
    background-color: #3498db;
    color: #FFFFFF;
    border-radius: 0;
}
.search-bar .btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
    display: none;
}
.search-bar .btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
    display: block;
    z-index: 9999;
}
.search-bar .open .dropdown-menu {
    margin-top: 0;
}
.search-bar .btn-group .dropdown-menu,
.search-bar .btn-group-vertical .dropdown-menu {
    border-radius: 0;
    text-transform: none;
}
.input-group-addon {
    border: none;
    background: transparent;
}
.search-category .search-category-container {
    border: none;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none!important;
    background: #fff;
}
.input-group-addon {
    padding: 0!important;
}

div > .input-group-addon .search-category-container{
    border: 1px solid red !important;
}
.styled-select select {
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    border-radius: 0;
    height: 44px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.styled-select {
    position: relative;
    margin-bottom: 0;
}
.styled-select:before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #555;
    right: -7px;
    padding: 15px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
}
.styled-select .bs-caret {
    display: none;
}
.location-select:before {
    content: "\f278";
}
.search-category select {
    padding: 12px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
select > opation:focus {
    box-shadow: none;
    border: none;
}
/* ==========================================================================
   Categories Homepage
   ========================================================================== */
.category-box {
    background-color: #fff;
    margin: 30px 0;
    height: 280px;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.category-box:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.category-box .icon {
    text-align: center;
    position: absolute;
    top: -25px;
    margin: 0 auto;
    width: 100%;
}
.category-box .icon i {
    display: inline-block;
    font-size: 22px;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 48px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}
.category-box .category-header {
    width: 100%;
    background-color: #f8f8f8;
    display: inline-block;
    text-align: center;
    padding: 40px 15px 20px;
    border-bottom: 1px solid #EEE;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.category-box .category-header h4 {
    font-size: 18px;
    color: #444;
}
.category-box .category-header:hover {
    background: #3498db;
}
.category-box .category-header:hover h4 {
    color: #fff;
}
.category-box .category-content li {
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
    width: 100%;
}
.category-box .category-content li a {
    float: left;
    color: #888;
    margin-left: 15px;
}
.category-box .category-content li a:hover {
    color: #3498db;
}
.category-box .category-counter {
    margin-right: 15px;
}
.category-counter {
    font-size: 12px;
    color: #888;
    float: right;
}
.border-1 {
    border-bottom: 2px solid #3498db;
}
.border-2 {
    border-bottom: 2px solid #FF5353;
}
.border-3 {
    border-bottom: 2px solid #1DD2AF;
}
.border-4 {
    border-bottom: 2px solid #FE4080;
}
.border-5 {
    border-bottom: 2px solid #24A69A;
}
.border-6 {
    border-bottom: 2px solid #8E4162;
}
.border-7 {
    border-bottom: 2px solid #9A63C1;
}
.border-8 {
    border-bottom: 2px solid #512DA7;
}
.color-1 {
    background-color: #3498db!important;
}
.color-2 {
    background-color: #FF5353!important;
}
.color-3 {
    background-color: #1DD2AF!important;
}
.color-4 {
    background-color: #FE4080!important;
}
.color-5 {
    background-color: #24A69A!important;
}
.color-6 {
    background-color: #8E4162!important;
}
.color-7 {
    background-color: #9A63C1!important;
}
.color-8 {
    background-color: #512DA7!important;
}
/* ==========================================================================
   Service Box
   ========================================================================== */
.features {
    background: url("../../img/bg/bg.jpg") center center no-repeat;
    padding: 60px 0;
    margin: 30px 0;
}
.features-box {
    margin-top: 15px;
    margin-bottom: 15px;
}
.features-box .features-icon {
    float: left;
    padding: 2px;
}
.features-box .features-icon i {
    color: #3498db;
    font-size: 30px;
}
.features-box .features-content {
    padding-left: 50px;
}
.features-box .features-content h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.features-box .features-content p {
    color: #888;
}
/* ==========================================================================
   Featured Listings Styles
   ========================================================================== */
.featured-lis {
    margin-top: 30px;
}
#new-products .product-item {
    padding: 0px 5px;
    text-align: center;
}
#new-products .product-item .carousel-thumb {
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
#new-products .product-item .carousel-thumb img {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -0-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
#new-products .product-item .carousel-thumb .overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999;
    bottom: -1px;
    right: 0;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#new-products .product-item .carousel-thumb .overlay i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    cursor: pointer;
    visibility: visible;
    width: 40px;
    height: 40px;
    background: #3498db;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    margin: -20px auto;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 99;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
#new-products .product-item .carousel-thumb:hover img {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -0-transform: scale(0.9);
    transform: scale(0.9);
}
#new-products .product-item .carousel-thumb:hover {
    border-color: #3498db;
}
#new-products .product-item .carousel-thumb:hover .overlay {
    opacity: 1;
    visibility: visible;
}
#new-products .product-item .carousel-thumb:hover i {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -0-transform: scale(1);
    transform: scale(1);
}
#new-products .product-item .item-name {
    font-size: 14px;
    line-height: 16px;
}
#new-products .product-item .price {
    color: #444;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-top: 7px;
}
#new-products .owl-controls .owl-buttons {
    position: relative;
    top: -215px;
    left: 0;
}
#new-products .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin-left: -45px;
}
#new-products .owl-controls .owl-buttons div.owl-next {
    float: right !important;
    margin-right: -45px;
}
.owl-theme .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    display: block !important;
    background: #3498db !important;
    text-align: center;
    display: inline-block;
    opacity: 1!important;
    border-radius: 0!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.8!important;
}
.owl-theme .owl-controls .owl-buttons div i {
    color: #fff;
    font-size: 16px;
    line-height: 32px;
}
/* ==========================================================================
   Locations Styles
   ========================================================================== */
.location {
    margin-top: 50px;
}
.localtion-list {
    border: 1px solid #EEE;
    padding: 15px;
    box-shadow: 1px 1px 3px 0px #F1F1F1;
}
.localtion-list .cat-list {
    margin: 0;
    padding: 0;
}
.localtion-list .cat-list li {
    line-height: 24px;
}
.localtion-list .cat-list li a {
    font-size: 13px;
    color: #888;
}
.localtion-list .cat-list li a:hover {
    color: #3498db;
    margin-left: 5px;
}
/* ==========================================================================
    Counter Style
    ========================================================================== */
#counter {
    background: url("../../img/bg/counter-bg.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
.counting .icon {
    margin-bottom: 10px;
}
.counting .icon span {
    display: inline-block;
    border: 3px solid #fff;
    text-align: center;
    width: 80px;
    background: #444;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.counting .icon span i {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 80px;
    z-index: 99;
    text-shadow: 5px 5px 2px rgba(56, 49, 49, 0.5);
}
.counting .desc h3 {
    font-size: 24px;
    color: #fff;
}
.counting .desc p {
    font-size: 16px;
}
.counting:hover span {
    background: #3498db;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
/* ==========================================================================
   Newsletter Style
   ========================================================================== */
.newletter {
    background: #fff;
}
.main-heading h4 {
    color: #444;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.subscribe {
    margin-top: 40px;
    width: 100%;
}
.subscribe .form-control {
    float: left;
    width: 75%;
    height: 52px;
    margin-right: 5px;
}
/* ==========================================================================
   Footer Style
   ========================================================================== */
footer .footer-Content {
    background-color: #222;
    padding: 60px 0;
    color: #fff;
}
.textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}
footer .menu {
    padding-left: 0;
}
footer .menu li {
    float: left;
    width: 50%;
    padding-bottom: 10px;
}
footer .menu li a {
    color: #fff;
}
footer .menu li a:hover {
    color: #3498db;
}
.twitter-content ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.twitter-content span {
    float: left;
    width: 224px;
}
.twitter-content span a {
    color: #3498db;
}
.featured-list {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.featured-list li {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 6px;
    margin-bottom: 6px;
    border: 4px solid #fff;
    overflow: hidden;
    position: relative;
}
.featured-list li .hover a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 152, 219, 0.8);
    z-index: 1;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.featured-list li .hover a span {
    color: #FFF;
    position: absolute;
    top: 32%;
    margin: 0px -15px;
}
.featured-list li .hover a:hover {
    opacity: 1;
}
.bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 32px;
    line-height: 32px;
    border-radius: 0px;
    background: #444;
    display: inline-block;
    height: 32px;
    position: relative;
    overflow: hidden;
}
#copyright {
    background-color: #393939;
    padding: 20px 0 10px;
    color: #fff;
}
#copyright p {
    line-height: 34px;
}
#copyright p a {
    color: #fff;
}
#copyright p a:hover {
    color: #3498db;
}
.social-icon .facebook:hover {
    background-color: #3b5998;
}
.social-icon .twitter:hover {
    background-color: #55acee;
}
.social-icon .dribble:hover {
    background-color: #D34836;
}
.social-icon .flickr:hover {
    background-color: #ff0084;
}
.social-icon .youtube:hover {
    background-color: #CC181E;
}
.social-icon .google-plus:hover {
    background-color: #dd4b39;
}
.social-icon .linkedin:hover {
    background-color: #007bb5;
}
/* ==========================================================================
   Categories Page style
   ========================================================================== */
.widget-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.widget-title:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #3498db;
    width: 50px;
    bottom: -1px;
    left: 0px;
}
.widget-title i {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #3498db;
}
.widget-title h4 {
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}
.inner-box {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
}
.categories-list ul {
    margin: 0;
}
.categories-list ul li a {
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    color: #444;
    border-bottom: 1px solid #eee;
}
.categories-list ul li a:hover {
    color: #3498db;
}
.categories-list ul li a i {
    margin-right: 5px;
}
.categories-list ul li:last-child a {
    border: none;
}
.advimg .featured-list li {
    width: 62px;
    height: 62px;
    margin-right: 0;
}
.product-filter {
    height: 40px;
}
.product-filter .grid-list-count {
    float: left;
    margin-right: 25px;
}
.product-filter .grid-list-count a {
    margin-right: 10px;
}
.product-filter .short-name {
    margin: 0px;
    display: inline-block;
    color: #999;
}
.product-filter .short-name span {
    float: left;
    margin-right: 5px;
}
.product-filter .short-name .name-ordering {
    float: left;
}
.product-filter .Show-item {
    float: right;
}
.product-filter .Show-item span {
    color: #888;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
}
.product-filter .Show-item .woocommerce-ordering {
    float: right;
}
.product-filter .button,
.product-filter select {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
/* ==========================================================================
     Adds wrapper Style
     ========================================================================== */
.adds-wrapper {
    background: #FFF none repeat scroll 0% 0%;
    clear: both;
    display: block;
    height: auto;
    overflow: auto;
    width: 100%;
}
.adds-wrapper .item-list {
    padding: 15px;
    border: 1px solid #eee;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px 0px #F1F1F1;
    -webkit-transition: background 0.25s ease-in 0s;
    -moz-transition: background 0.25s ease-in 0s;
    -ms-transition: background 0.25s ease-in 0s;
    -o-transition: background 0.25s ease-in 0s;
    transition: background 0.25s ease-in 0s;
}
.adds-wrapper .item-list:hover {
    background: #F6F6F5;
}
.adds-wrapper .add-title {
    padding-bottom: 10px;
}
.adds-wrapper .info {
    display: block;
    clear: both;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}
.adds-wrapper .add-type {
    color: #3498db;
    background: #eee;
    border: 1px solid #ddd;
    display: inline-block;
    height: 25px;
    line-height: 18px;
    padding: 3px;
    text-align: center;
    width: 25px;
}
.adds-wrapper .price-box {
    padding: 0px;
}
.adds-wrapper .price-box .item-price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 15px;
}
.pagination-bar {
    padding-bottom: 35px;
    margin-top: 35px;
}
.pagination {
    margin: 0;
}
.pagination > li > a,
.pagination .pagination > li > span {
    border: 1px solid #eee;
    border-radius: 0;
}
.pagination .active > a,
.pagination .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3498db !important;
    border-color: #3498db !important;
}
.pagination > li:first-child > a,
.pagination .pagination > li:first-child > span {
    border-radius: 0px;
}
.pagination > li:last-child > a,
.pagination .pagination > li:last-child > span {
    border-radius: 0px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background: #3498db;
    border-color: #3498db;
    color: #fff;
}
.post-promo {
    background: #e5e5e5;
    border: 1px solid #ddd;
    padding: 30px;
}
.post-promo h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.post-promo h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* ==========================================================================
   About Page Style
   ========================================================================== */
.ad-detail-content {
    margin-top: 30px;
}
.ad-detail-content p {
    margin-bottom: 20px;
    color: #888;
}
.ad-detail-content blockquote {
    padding: 15px;
    background: #eee;
    border-left: 3px solid #3498db;
}
/* ==========================================================================
   Ads-detail Style
   ========================================================================== */
.Ads-Details {
    background: #F7F7F7;
    padding: 30px;
    border: 1px solid #E3E3E3;
}
.Ads-Details .list-circle li {
    margin-left: 20px;
}
/* ==========================================================================
   Posting-success Page Style
   ========================================================================== */
.posting .alert {
    margin-bottom: 0;
}
.posting .postin-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}
.posting .alert-success {
    color: #fff;
    background-color: #3498db;
    border-color: #eee;
    border-radius: 0;
    padding: 20px;
}
.posting p {
    margin-left: 25px;
}
/* ==========================================================================
   Notification Page Style
   ========================================================================== */
.box-notification-content {
    padding: 15px 15px 15px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: auto;
    font-size: 13px;
    background: #FFFBCC;
    border: 1px solid #F2EEC0;
    color: #8F8838;
}
.box-error-content {
    background: #FFCECE;
    border: 1px solid #EFBFBF;
    color: #833;
    padding: 15px 15px 15px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: auto;
    font-size: 13px;
}
.box-download-content {
    background: #E3F4DE;
    border: 1px solid #CDDCC9;
    color: #98C58A;
    padding: 15px 15px 15px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: auto;
    font-size: 13px;
}
.box-information-content {
    background: #D5EAF5;
    border: 1px solid #C5D9E3;
    color: #2F81B0;
    padding: 15px 15px 15px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: auto;
    font-size: 13;
}
/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
.mainHeading {
    text-align: center;
    margin-bottom: 20px;
}
.mainHeading .section-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
}
#pricing-table {
    background: #ffffff;
    text-align: center;
}
#pricing-table .title {
    padding-top: 25px;
    padding-bottom: 20px;
}
#pricing-table .title h1 {
    font-size: 48px;
    color: #888;
    font-weight: normal;
    line-height: 40px;
}
#pricing-table .title h3 {
    color: #444;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0px;
}
#pricing-table .table {
    padding-bottom: 50px;
    border: 1px solid #eee;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#pricing-table .table .pricing-header {
    position: relative;
    padding: 30px 0px;
    background: #FAFAFA none repeat scroll 0% 0%;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 50px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#pricing-table .table .pricing-header .price-value {
    font-size: 64px;
    color: #3498db;
    position: relative;
    text-align: center;
    font-weight: 700;
    line-height: 62px;
}
#pricing-table .table .pricing-header .price-value sup {
    font-size: 24px;
    position: relative;
    top: -24px;
    font-weight: 400;
}
#pricing-table .table .pricing-header .price-quality {
    font-size: 14px;
    color: #888;
}
#pricing-table .table .description {
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 50px;
}
#pricing-table .table .description li {
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#pricing-table .table .description i {
    color: #3498db;
    margin-right: 5px;
}
#pricing-table .table:hover {
    border: 1px solid #3498db;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#pricing-table .table:hover .pricing-header {
    background: #3498db;
}
#pricing-table .table:hover .pricing-header .price-value {
    color: #ffffff;
}
#pricing-table .table:hover .pricing-header .price-quality {
    color: #ffffff;
}
#pricing-table #active-tb {
    border: 1px solid #3498db;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#pricing-table #active-tb .pricing-header {
    background: #3498db;
}
#pricing-table #active-tb .pricing-header .price-value {
    color: #ffffff;
}
#pricing-table #active-tb .pricing-header .price-quality {
    color: #ffffff;
}
/* ==========================================================================
   Account Archived ADS pages style
   ========================================================================== */
.collapse-box {
    margin-bottom: 15px;
}
.collapset-title {
    border-top: 1px solid #eee;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}
.no-border {
    border: none;
}
.user-panel-sidebar ul {
    padding: 0;
}
.user-panel-sidebar ul li a {
    background: #FFF;
    display: block;
    color: #444;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.user-panel-sidebar ul li a:hover,
.user-panel-sidebar ul li a:active,
.user-panel-sidebar ul li.active a {
    background-color: #3498db;
    color: #fff;
}
.user-panel-sidebar ul li a:hover .badge,
.user-panel-sidebar ul li a:focus .badge,
.user-panel-sidebar ul li.active a .badge {
    color: #fff;
}
.user-panel-sidebar ul li:last-child a {
    border-bottom: none;
}
.collapse-box .badge {
    float: right;
    background-color: transparent;
    color: #888;
    font-size: 11px;
    line-height: 20px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.table-search .control-label {
    line-height: 16px;
    padding-right: 0;
}
.searchpan input#filter {
    font-size: 12px;
    height: 30px;
}
.clear-filter {
    font-size: 11px;
}
.add-img-td img {
    width: 100%;
}
.table-action {
    display: block;
    margin-bottom: 15px;
}
table.add-manage-table > tbody > tr > td,
table.add-manage-table > tbody > tr > th {
    vertical-align: middle;
}
.table > thead > tr > th {
    border-bottom: none;
    color: #3498db;
}
.table > thead > tr > th:nth-of-type(3n+1) {
    text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #f1f1f1!important;
}
.ads-details-td h4 {
    font-size: 15px;
    margin-bottom: 6px;
}
.ads-details-td strong {
    font-size: 13px;
    color: #444;
}
.ads-details-td sapn {
    color: #888;
}
.price-td {
    text-align: center;
    color: #888;
}
.add-img-selector {
    width: 2%;
}
.add-img-td {
    width: 20%;
}
.ads-details-td {
    width: 60%;
}
.price-td {
    width: 16%;
}
.action-td {
    width: 10%;
}
.photo-count {
    background: none repeat scroll 0 0 #ccc;
    border: 0 none;
    border-radius: 0;
    font-size: 12px;
    opacity: 0.9;
    padding: 0 3px;
    position: absolute;
    right: 4px;
    top: 5px;
}
/* ==========================================================================
   Account home page
   ========================================================================== */
.userimg {
    border: 1px solid #eee;
    display: inline-block;
    width: 75px;
    padding: 3px;
    margin-right: 5px;
}
.usearadmin h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.welcome-msg {
    margin-bottom: 30px;
}
.pt {
    margin-top: 15px;
}
/* ==========================================================================
   Home page 2 style
   ========================================================================== */
.box-title h2 {
    margin: 15px 0px;
    padding: 0px;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.sell-your-item {
    color: #9A9A9A;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.54px;
    padding: 20px 15px;
    position: absolute;
    right: 5px;
    text-align: center;
    text-transform: uppercase;
    top: 5px;
}
.f-category {
    border: 1px solid #eee;
    height: 190px;
    margin-top: -1px;
    background: #FFF;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    display: block;
    margin-right: -1px;
}
.f-category .icon-img {
    width: 100%;
    height: 132px;
}
.f-category h6 {
    color: #444;
    font-size: 12px;
    letter-spacing: 0;
    margin: 10px 0;
}
.f-category img {
    display: inline-block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.f-category:hover img {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.item-list.make-grid {
    float: left;
    clear: none;
    width: 23%;
    height: 536px;
    margin-right: 16px;
}
.item-list.make-grid .photobox,
.item-list.make-grid .add-desc-box,
.item-list.make-grid .price-box {
    width: 100%;
    clear: both;
}
.item-list.make-grid .add-desc-box {
    padding: 10px 0;
}
.item-list.make-grid .price-box {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}
.ads-details-wrapper h2 {
    font-size: 24px;
    line-height: 30px;
}
.ads-details-wrapper .item-intro {
    margin-bottom: 15px;
}
.ads-details-wrapper .item-intro .poster {
    color: #999;
    font-size: 12px;
}
.ads-details-info h4 {
    font-size: 15px;
    padding: 10px 0;
}
.fallback-inner {
    background: #ddd;
    text-align: center;
    padding: 50px;
}
.fallback-inner .query-input {
    margin-bottom: 30px;
}
.fallback-inner .buttons {
    margin-bottom: 30px;
}
.fallback-content h2 {
    font-size: 26px;
    line-height: 38px;
}
.app {
    background: url("../../img/bg/app-bg.jpg") fixed;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    position: relative;
}
.app::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(55, 66, 73, 0.6);
    z-index: 99;
}
.app .app-inner h2 {
    font-size: 45px;
    font-weight: 100;
    line-height: 55px;
    color: #fff;
    margin-bottom: 15px;
}
.app .app-inner .description {
    margin-bottom: 30px;
}
.app .app-inner .description h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.app .app-inner .description p {
    color: #fff;
}
.app .app-inner .btn {
    margin-right: 20px;
}
.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}
.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #3498db;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
#content {
    padding: 30px;
}
.post-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}
.post-title a {
    color: #444;
}
.post-title a:hover {
    color: #3498db;
}
.blog-post {
    margin-bottom: 40px;
}
.blog-post .post-thumb {
    position: relative;
}
.blog-post .post-thumb .hover-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(246, 246, 246, 0.5);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.blog-post .post-thumb:hover .hover-wrap {
    opacity: 1;
}
.blog-post .post-content {
    width: 100%;
    padding: 50px 30px;
    border: 1px solid #eee;
}
.blog-post .post-content .meta {
    font-size: 13px;
    margin-bottom: 10px;
}
.blog-post .post-content .meta i {
    margin-right: 4px;
}
.blog-post .post-content .meta .meta-part {
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    margin-right: 10px;
    padding-right: 10px;
}
.blog-post .post-content .meta .meta-part a {
    color: #888;
}
.blog-post .post-content .meta .meta-part:last-child {
    border-right: none;
}
.blog-post .post-content p {
    color: #888;
}
.quote-post .quote-wrap {
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    background: #F7F7F7;
}
.quote-post .quote-wrap blockquote {
    border-left: none;
    font-size: 25px;
    line-height: 30px;
}
.video-post .video-wrapper {
    width: 100%;
    position: relative;
    padding: 0px;
}
.video-post .video-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: none;
}
/* ==========================================================================
   Sidebar Styles
   ========================================================================== */
.right-sidebar {
    padding-left: 20px;
}
.search {
    width: 100%;
    margin-bottom: 0px !important;
    position: relative;
}
.search-btn {
    position: absolute;
    top: 12px;
    right: 30px;
    border: none;
    background: transparent;
}
.search-btn i {
    color: #888;
}
#sidebar {
    margin-bottom: 30px;
}
#sidebar .widget {
    border: 1px solid #eee;
    padding: 20px 28px;
    margin-bottom: 30px;
}
#sidebar .posts-list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #CCC;
}
#sidebar .posts-list li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
#sidebar .posts-list .widget-thumb {
    float: left;
}
#sidebar .posts-list .widget-thumb a {
    display: block;
}
#sidebar .posts-list .widget-thumb a img {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 5px 15px 0 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
#sidebar .posts-list .widget-thumb:hover img {
    border-color: #3498db;
}
#sidebar .posts-list .widget-content a {
    font-weight: 400;
    color: #333;
    font-size: 14px;
}
#sidebar .posts-list .widget-content span {
    color: #666;
    font-size: 12px;
    display: block;
    margin: 3px 0;
}
#sidebar .posts-list .widget-content span i {
    padding-right: 5px;
}
#sidebar .tag a {
    display: inline-block;
    font-size: 12px;
    color: #333;
    padding: 7px 12px;
    border: 1px solid #CCC;
    margin: 4px 1px;
    border-radius: 0x;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
#sidebar .tag a i {
    padding-right: 5px;
}
#sidebar .tag a:hover {
    border-color: #3498db;
    color: #fff;
    background: #3498db;
}
.single-post p {
    margin-bottom: 20px!important;
}
.single-post blockquote {
    border-left: none;
    text-align: center;
    padding: 30px;
    background: #3498db;
}
.single-post blockquote .quote-text {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    line-height: 34px;
}
.single-post blockquote p {
    margin-top: 10px;
    margin-bottom: 0px !important;
}
.single-post blockquote p a {
    color: #fff;
}
.single-post blockquote p a:hover {
    color: #fff;
}
.author .author-img {
    float: left;
    margin-right: 30px;
}
.author .author-text .author-title {
    width: 100%;
    height: 34px;
}
.author .author-text h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 26px;
}
.author .author-text p {
    color: #888;
    line-height: 26px;
}
#comments h3 {
    font-size: 20px;
    font-weight: 400;
}
#comments .comments-list {
    padding: 0;
    margin: 0 0 35px 0;
}
#comments .comments-list .media {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}
#comments .comments-list .media .thumb-left {
    float: left;
}
#comments .comments-list .media .thumb-left img {
    border-radius: 4px;
}
#comments .comments-list .media .info-body {
    margin-left: 90px;
}
#comments .comments-list .media .info-body .name {
    font-size: 16px;
    font-weight: 700;
    float: left;
    line-height: 25px;
    margin-right: 10px;
}
#comments .comments-list .media .info-body .comment-date {
    font-weight: 600;
    color: #888;
    margin-left: 5px;
    font-size: 12px;
}
#comments .comments-list li ul {
    padding-left: 85px;
}
.reply-link {
    color: #888;
    border-radius: 0px;
    font-size: 14px;
    float: right;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.respond-title {
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0px 30px;
}
.main-desc {
    margin-bottom: 30px;
}
.main-desc p {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
}
.projects-carousel .owl-controls .owl-buttons {
    right: 9px;
}
.social-link a {
    color: #CACACA;
    text-align: center;
    width: 32px;
    border: 1px solid #CACACA;
    line-height: 32px;
    border-radius: 0px;
    display: inline-block;
    height: 32px;
}
.social-link .facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
}
.social-link .twitter:hover {
    color: #55acee;
    border-color: #55acee;
}
.social-link .google:hover {
    color: #dd4b39;
    border-color: #dd4b39;
}
.social-link .linkedin:hover {
    color: #007bb5;
    border-color: #007bb5;
}
.head-faq {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 24px;
}
.panel-default {
    border-radius: 0px;
    border: none;
}
.panel-default .panel-heading {
    padding: 0px 30px;
    outline: medium none;
    border-radius: 0px;
    background: #E6E6E6;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: none;
}
.panel-default .panel-heading .panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
}
.panel-default .panel-heading a {
    font-size: 15px;
    font-weight: 400;
    padding: 15px 35px 15px 0px;
    display: inline-block;
    width: 100%;
    color: #444;
    position: relative;
    text-decoration: none;
}
.panel-default .panel-heading a:after {
    font-family: "FontAwesome";
    content: "";
    position: absolute;
    right: 15px;
    color: #3498db;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
}
.panel-default .panel-heading .collapsed:after {
    content: "";
}
.panel-default .panel-collapse .panel-body {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #ccc;
}
/* ==========================================================================
   Contact Pages
   ========================================================================== */
.contact-form,
.information {
    margin-top: 40px;
}
.contact-datails {
    margin-bottom: 12px;
    min-height: 75px;
    position: relative;
}
.contact-datails .icon {
    position: absolute;
}
.contact-datails .icon i {
    font-size: 18px;
}
.contact-datails .info {
    padding-left: 30px;
}
.contact-datails .info h3 {
    font-size: 15px;
    display: block;
    text-transform: uppercase;
}
.contact-datails .info .datail {
    display: block;
    color: #888;
}
.form-control {
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #444;
    display: block;
    height: 44px;
    padding: 10px 12px;
    width: 100%;
}
.input-icon input {
    padding-left: 40px;
}
.input-icon {
    position: relative;
}
.login-form .input-icon i {
    color: #444;
    opacity: 0.6;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.input-icon i {
    font-size: 15px;
    left: 12px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
.form-control:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid #3498db;
    outline: none;
}
.has-error .form-control:focus {
    box-shadow: none;
}
.addon {
    font-size: 40px;
    color: #888;
    border-radius: 0px;
    width: 32px!important;
}
.box {
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
}
.page-login-form h3 {
    font-size: 18px;
    color: #444;
    line-height: 18px;
    padding: 15px 0 30px;
    text-transform: uppercase;
    text-align: center;
}
.page-login-form .login-form .form-control {
    background: #ffffff !important;
}
.page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0px 0px 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px;
}
.page-login-form .form-links {
    width: 100%;
    height: 25px;
}
.page-login-form .form-links li {
    display: inline-block;
}
.page-login-form .form-links li a {
    color: #999;
}
.page-login-form .form-links li a:hover {
    color: #3498db;
}
.page-login-form .checkbox {
    margin-bottom: 10px;
}
.page-login-form input[type="checkbox"] {
    display: none;
}
.page-login-form .checkbox label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    color: #797979;
}
.page-login-form .checkbox label:before {
    content: "\2022";
    display: inline-block;
    color: #cbcbcb;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 35px;
    text-align: center;
    line-height: 11px;
}
.page-login-form .checkbox input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #3498DB;
    font-size: 35px;
    text-align: center;
    line-height: 11px;
}
.page-login-form .checkbox-inline + .checkbox-inline {
    margin-left: 0;
}
.table-action .checkbox {
    margin-top: 0;
    float: left;
}
.registration .form-group {
    margin: 0;
}
.registration .form-group .lable {
    margin-bottom: 10px;
}
.registration .form-group .form-control {
    background: #ffffff !important;
}
.registration .btn {
    padding: 7px 20px;
    border: none;
}
.form-ad .checkbox label {
    margin-bottom: 0px;
}
.control-label {
    font-size: 14px;
    color: #888;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: transparent none repeat scroll 0px 0px;
    cursor: inherit;
    display: block;
}
.file-caption {
    height: 54px;
}
.mb15 {
    margin-bottom: 15px;
}
.form-static {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}

@media (max-width: 575px) {
    .space-select{
        margin: 10% 0 0 12px !important;
    }
}

.carousel-inner img {
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.category-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.category-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.category-card-container {
    padding: 2px 16px;
}

.icon_guide{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background: no-repeat 50% 50%;
    background-size:     cover;
}

.info {
    text-align: justify;
    /*border: 1px solid red;*/
}

.recent_ad{
    margin: 1em;
    border: 1px solid #E6E6E6;
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent_ad_img{
    height: 12em;
}

.carousel .item img {
  max-height: 200px;
  min-width: auto;
}
