.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  padding: 0 0 0 15px;
  width: 120px;

}


.tbtn {
  color: #FFF !important;
  font-size: 30px;
  height: 42px;
  width: 105px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  background: #E74C3C;
  z-index: 999;
  top: 124px;
  left: 0px;
}
.tbtn p {
  font-size: 12px;
}
.tbtn p i {
  margin-right: 4px;
  font-size: 12px;
}
.title-menu {
  font-size: 15px;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
}
.navmenu,
.navbar-offcanvas {
  width: 180px;
  z-index: 99999;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
  background-color: #fff;
  border-left: 1px solid #eee;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
  color: #3498db;
  background-color: transparent;
}
.nav > li {
  position: relative;
  display: block;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #444;
  padding: 0px 15px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
nav#menu span.fa.fa-bars:hover {
  color: #3498db;
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
  color: #3498db;
}
.close {
  background: transparent;
  padding: 8px 12px;
  opacity: 1;
}
.close i {
  background: #E74C3C;
  color: #fff;
  padding: 6px;
  font-size: 16px;
}
