{% extends "admin/base.html" %}

{% block title %}{{ title }} | Guía libre{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Guía libre - Sitio de administración</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}