{% extends "base.html" %}
{% load static %}

{% block title %}
    - ¿Quiénes somos?
{% endblock %}
{% block body %}
    <br/>
    <div class="page-header" style="background: url({% static 'img/banner1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">¿Quiénes somos?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <p class="info">{{ about_us.about }}</p>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="title-2">Misión</h1>
                    <p class="info">
                        {{ about_us.mission }}
                    </p>
                </div>
                <div class="col-md-4">
                    <h1 class="title-2">Visión</h1>
                    <p class="info">
                        {{ about_us.vision }}
                    </p>
                </div>
                <div class="col-md-4">
                    <h1 class="title-2">Valores</h1>
                    <p class="info">{{ about_us.values }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}