{% extends 'base.html' %}
{% load static %}
{% block title %}
    - {{ ad.title }}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/templates/ad_detail.css' %}">
{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {#                #}
                    {% if ad.adpicture_set.all %}
                        <div id="addDetailCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for image in ad.adpicture_set.all %}
                                    {% if forloop.first %}
                                        <li data-target="#addDetailCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                    {% else %}
                                        <li data-target="#addDetailCarousel" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% for image in ad.adpicture_set.all %}
                                    {% if forloop.first %}
                                        <div class="item active">
                                            <img src="{{ image.image.url }}" width="100%">
                                        </div>
                                    {% else %}
                                        <div class="item">
                                            <img src="{{ image.image.url }}" width="100%">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#addDetailCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#addDetailCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        <img src="{% static 'img/noimage.png' %}" width="100%">
                    {% endif %}
                    {#                #}

                </div>
                <div class="col-md-8">
                    <h2 class="title-2">{{ ad.title }}</h2>
                    <div class="">
                        <p class="info">{{ ad.description }}</p>
                    </div>
                    <div class="contact">
                        <h3 class="title-2">Contacto</h3>
                        <p class="">Nombre: <strong class="text-info">{{ ad.advertiser }}</strong></p>
                        <p>Telefono: <strong class="text-info">{{ ad.phone }}</strong></p>
                        <p>Celular: <strong class="text-info">{{ ad.cell }}</strong></p>
                        <p>Nombre: <strong class="text-info">{{ ad.advertiser.email }}</strong></p>
                    </div>
                    {% if ad.video %}
                        <div>
                            <h3 class="title-2">Video</h3>
                            {% autoescape off %}
                                {{ ad.video }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                    {% if ad.location %}
                        <div class="contact">
                            <h3 class="title-2">Ubicación</h3>

                            <div class="geoposition-map">
                                <iframe width="100%" height="450" frameborder="0" style="border:0"
                                        src="https://www.google.com/maps/embed/v1/place?q={{ ad.location.latitude }},{{ ad.location.longitude }}&key=AIzaSyBV0WQKgHvutCjB66paz2Y_hxtyBXvz1dw"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/js/templates/ad_detail.js' %}"></script>
{% endblock %}