{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block body %}
    {% if search %}
        <br>
        <div class="container">
            <h1 class="title">
                <strong>{{ ads | length }}</strong> resultado{{ ads|length|pluralize }} para: "<strong>{{ keyword }}</strong>"
            </h1>
        </div>
    {% endif %}
    <div class="container col-md-12">
        {% if ads %}
            <br/>
            {% for ad in ads %}
                <a href="{% url 'ad_detail' pk=ad.pk %}">
                    <div class="box">
                        <div class="row">
                            <div class="">
                                <div class="col-md-3">
                                    {% if ad.adpicture_set.all %}
                                        <img src="{{ ad.adpicture_set.first.image.url }}">
                                    {% else %}
                                        <img src="{% static  'img/noimage.png'%}">
                                    {% endif %}
                                </div>
                                <div>
                                    <span class="title-2">{{ ad.title }}</span>
                                </div>
                                <br/>
                                <div>
                                    <span class="datail">Por {{ ad.advertiser }}</span>
                                </div>
                                <div>
                                    <span class="info">{{ ad.state }}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
                <br/>
            {% endfor %}

        {% else %}
            <br/>
            <div class="main-text">
                <h2 class="title">NO SE ENCONTRARON RESULTADOS</h2>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block scripts %}

{% endblock %}