{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="container">
            <h1 class="title">{{ category_name }}</h1>
        </div>
        <br/>
        {% if list_ads %}
            <div class="container col-md-8">
                {% for ad in list_ads %}
                    <a href="{% url 'ad_detail' pk=ad.pk %}">
                        <div class="box">
                            <div class="row">
                                <div class="">
                                    <div class="col-md-3">
                                        {% if ad.adpicture_set.all %}
                                            <img src="{{ ad.adpicture_set.first.image.url }}">
                                        {% else %}
                                            <img src="{% static  'img/noimage.png'%}">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <span class="title-2">{{ ad.title }}</span>
                                    </div>
                                    <div>
                                        <span class="datail">Por {{ ad.advertiser }}</span>
                                    </div>
                                    <div>
                                        <span class="info">{{ ad.state }}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                    <br/>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        {% else %}
            <h2 class="title-2">No hay anuncios en esta categoría</h2>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}