<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Clasified">
    <meta name="generator" content="Wordpress! - Open Source Content Management">
    <title>Guía libre{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jasny-bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jasny-bootstrap.min.css' %}" type="text/css">
    <!-- Material CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/material-kit.css' %}" type="text/css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <!-- Line Icons CSS -->
    <link rel="stylesheet" href="{% static 'fonts/line-icons/line-icons.css' %}" type="text/css">
    <!-- Line Icons CSS -->
    <link rel="stylesheet" href="{% static 'fonts/line-icons/line-icons.css' %}" type="text/css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/extras/animate.css' %}" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'assets/extras/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/extras/owl.theme.css' %}" type="text/css">
    <!-- Responsive CSS Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" type="text/css">
    <!-- Slicknav js -->
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}" type="text/css">
    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">

</head>
<body>
<!-- Header Section Start -->
<div class="header">
    <nav class="navbar navbar-default main-navigation" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a id="logo" class="navbar-brand logo" href="{% url 'index' %}"><img src="{% static "img/guia_logo.png" %}" alt=""></a>
            </div>
            <!-- brand and toggle menu for mobile End -->

            <!-- Navbar Start -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'categories'%}">Categorías</a></li>
                    <li><a href="{% url 'coupons'%}">Cuponera</a></li>
                    <li><a href="{% url 'about' %}">¿Quiénes somos?</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                </ul>
            </div>
            <!-- Navbar End -->
        </div>
    </nav>

    <!-- Header Section End -->

    <div class="container">
        {% block body %}

        {% endblock %}
    </div>

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info pull-left">
                        <p>All copyrights reserved @ 2018 - Designed by <a rel="nofollow" href="http://www.openpymes.com.mx/">Open Pymes</a></p>
                    </div>
                    <div class="bottom-social-icons social-icon pull-right">
                        <a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="dribble" target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                        <a class="flickr" target="_blank" href="#"><i class="fa fa-flickr"></i></a>
                        <a class="youtube" target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                        <a class="google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="linkedin" target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!-- Copyright End -->


    <!-- Main JS  -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/material-kit.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/wow.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/templates/index.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>