{% extends 'base.html' %}
{% block title %}
    - Categorías
{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="col-md-12">
            <h3 class="section-title">Explora todas las categorías</h3>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-3 col-sm-6 col-sm-12" style="margin-bottom: 5% ">
                    <div class="container">
                        <a href="{% url 'ads_by_category' pk=category.pk %}">
                            <img class="icon_guide" src="{{ category.icon.url }}">
                            <strong class="category-header">{{ category.name }}</strong>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}