{% extends "base.html" %}
{% load static %}
{% block title %}
    - Contacto
{% endblock %}
{% block body %}
    <div class="page-header" style="background: {% static "/img/banner1.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h2 class="title-2 center">
                        Información de contacto
                    </h2>
                    <div class="information">
                        <div class="contact-datails">
                            <div class="icon">
                                <i class="fa fa-map-marker icon-radius"></i>
                            </div>
                            <div class="info">
                                <h3>Dirección</h3>
                                <span class="detail">{{ contact.address }}</span>
                            </div>
                        </div>
                        <div class="contact-datails">
                            <div class="icon">
                                <i class="fa fa-phone icon-radius"></i>
                            </div>
                            <div class="info">
                                <h3>Télefono</h3>
                                <span class="detail">{{ contact.phone }}</span>
                            </div>
                        </div>
                        <div class="contact-datails">
                            <div class="icon">
                                <i class="fa fa-location-arrow icon-radius"></i>
                            </div>
                            <div class="info">
                                <h3>Correo electrónico</h3>
                                <span class="detail">{{ contact.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}