{% extends "base.html" %}
{% load static %}

{% block title %}
    - Cupones
{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <h1 class="title">¡Descarga e imprime tus cupones!</h1>
                <br/>
                {% if coupon %}
                    <div class="container col-md-10">
                        <h2 class="title-2">{{ coupon.name }}</h2>
                        <img src="{{ coupon.coupon.url }}">
                    </div>
                {% else %}
                    <h2 class="title-2">No hay cupones disponibles</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}