{% extends "base.html" %}
{% load static %}
{% block title %}
    - Inicio
{% endblock %}

{% block body %}
    <section class="section-title">
        {% if banner_group %}
            <div id="myCarousel" class="carousel slide center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for banners in banner_group.banner_set.all %}
                        {% if forloop.first %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for banner in banner_group.banner_set.all %}
                        {% if forloop.first %}
                            <div class="item active carousel-inner" duration="{{ banner.duration }}">
                                <img src="{{ banner.banner.url }}" width="40%">
                            </div>
                        {% else %}
                            <div class="item" duration="{{ banner.duration }}">
                                <img src="{{ banner.banner.url }}" width="40%">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% endif %}

    </section>
    <section id="intro" class="section-intro">
        {% if search %}
            <h1>Resultados</h1>
        {% endif %}
        {#  START OF SEARCH BAR  #}
        <div class="">
            <div class="">
                <div class="main-text">
                    <div class="row search-bar">
                        <div class="advanced-search">
                            <form class="search-form" method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                {# SELECT FOR CATEGORIES #}
                                <div id="div1" class="col-md-3 col-sm-6 search-col">
                                    <div class="input-group-addon search-category-container">
                                        <label class="styled-select">
                                            <div class="selection_categories">
                                                <select
                                                        id="categories_select"
                                                        name="category"
                                                        class="btn btn-select dropdown-toggle bootstrap-select"
                                                >
                                                    <option value="" selected>Selecciona una categoría</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                {# SELECT FOR LOCATIONS #}
                                <div id="div2" class="col-md-3 col-sm-6 search-col space-select">
                                    <div class="input-group-addon search-category-container">
                                        <label class="styled-select location-select">
                                            <div class="">
                                                <select
                                                        id="states_select"
                                                        name="state"
                                                        class="btn btn-select dropdown-toggle bootstrap-select"
                                                >
                                                    <option value="" selected>Selecciona una ubicación</option>

                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                {# SEARCH BOX TEXT #}
                                <div  class="col-md-3 col-sm-6 search-col">
                                    <div class="form-group is-empty space-select">
                                        <input
                                                id="keyword"
                                                class="form-control keyword"
                                                name="keyword"
                                                value=""
                                                placeholder="Palabra clave"
                                                type="text"
                                                required
                                        >
                                        <span class="material-input"></span>
                                    </div>
                                    <i class="fa fa-search"></i>
                                </div>
                                {# SEARCH BUTTON #}
                                <div id="boton_centro" class="col-md-3 col-sm-6 search-col">
                                    <input
                                            type="submit"
                                            id="search_button"
                                            class="btn btn-common btn-search btn-block"
                                            value="Buscar"
                                    >
                                    </input>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {#  END OF SEARCH BAR  #}
    </section>
    <section>
        <div class="container">
            <div class="row">
                <h1 class="title-2 section-title">Anuncios recientes</h1>
                {% for recent_ad in recent_ads %}
                    <a href="{% url 'ad_detail' pk=recent_ad.pk %}">
                        <div class="box col-md-4 col-sm-2 recent_ad">
                            <span class="detail">{{ recent_ad.title }}</span>
                            <div class="recent_ad_img">
                                {% if recent_ad.adpicture_set.all %}
                                    <img src="{{ recent_ad.adpicture_set.first.image.url }}">
                                {% else %}
                                    <img src="{% static  'img/noimage.png'%}">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="title-2 section-title">Explora todas las categorías</h1>
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-3 col-sm-6 col-sm-12" style="margin-bottom: 5% ">
                        <div class="container">
                            <a href="{% url 'ads_by_category' pk=category.pk %}">
                                <img class="icon_guide" src="{{ category.icon.url }}">
                                <strong class="category-header">{{ category.name }}</strong>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}
